@using System.Data
@model VSAssetManagement.IOModels.Reason    
<div class="col-sm-12" style="padding:1px">
   <div class="card">
      <div class="card-header">
         <h5>Reason</h5>
      </div>
      <div class="card-body">
            <form id="reasonform">
         @Html.HiddenFor(model=>model.Guid,new{id="hdnGuid"})
         @Html.AntiForgeryToken()
         <div class="row">
            <div class="col-md-4">
               <div class="form-group">
                <label class="form-label">Reason Name</label>
                <input  class="form-control" asp-for="ReasonName" name="reason_name" placeholder="Reason Name" id="ReasonName">
               </div>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                <label class="form-label">Reason Code</label>
                <input  class="form-control" asp-for="ReasonCode" name="reason_code" placeholder="Reason Code" id="ReasonCode">
               </div>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                <label class="form-label">Reason Type</label>
                    <select class="form-control" name="reason_type" asp-items="@ViewBag.reasontype" asp-for="ReasonType">                      
                    </select>
               </div>
            </div>
         </div>      
                <button type="submit" class="btn notifications btn-primary" style="float: right;" data-type="success" data-from="top" data-align="right">Submit</button>

            </form>
      </div>
   </div>
</div>
@section Scripts
{
    <script src="~/customjs/reason.js"></script>
<style>        
.table thead th {
    padding:1px;
}
.table tbody td {
    padding:1px;
}
</style>
}