<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vishwasamudra</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<script>
		const urlSearchParams = new URLSearchParams(window.location.search);
		const params = Object.fromEntries(urlSearchParams.entries());		
	</script>    
	<!-- Favicon icon -->
	<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="../assets/plugins/animation/css/animate.min.css">


	<!-- notification css -->
	<link rel="stylesheet" href="../assets/plugins/notification/css/notification.min.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- data tables css -->
	<link rel="stylesheet" href="../assets/plugins/data-tables/css/datatables.min.css">
	<link rel="stylesheet" href="../assets/css/custom.css" />

	<!-- vendor css -->
	<link rel="stylesheet" href="../assets/css/style.css">

	<script src="/CustomJs/authorize.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>



</head>

<body class="">
	@RenderSection("Scripts",false/*required*/)
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light brand-blue menu-item-icon-style6 title-blue ">
		<div class="navbar-wrapper ">
			<div class="navbar-brand header-logo">
				<a href="index.html" class="b-brand">
					<!-- <div class="b-bg">
						E
					</div>
					<span class="b-title">Flex Able</span> -->
					<img src="../assets/images/logo.png" alt="" class="logo images">
					<img src="../assets/images/logo-icon.png" alt="" class="logo-thumb images">
				</a>
				<a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!"><span></span></a>
			</div>
			<div class="navbar-content scroll-div">

				<ul class="nav pcoded-inner-navbar ">
				
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i class="feather icon-airplay"></i></span><span class="pcoded-mtext">Dashboard</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a asp-area="" asp-controller="Dashboard" asp-action="index" class="waves-effect">Wingz</a></li>
							<li class=""><a href="dashboard-help.html" class="waves-effect">Helpdesk</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Operations</label>
					</li>
					<li class="nav-item pcoded-hasmenu" id="wingz-link">
						<a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Wingz</span></a>
						<ul class="pcoded-submenu">		
							<li class="" id="tag-link"><a class="waves-effect" asp-area="" asp-controller="Tag" asp-action="index">Tag</a></li>
							<li class="" id="project-link"><a class="waves-effect" asp-area="" asp-controller="Project" asp-action="index">Project</a></li>
							<li class="" id="store-link"><a class="waves-effect" asp-area="" asp-controller="Store" asp-action="index">Store</a></li>
							<li class="" id="lookup-link"><a class="waves-effect" asp-area="" asp-controller="LookUp" asp-action="index">LookUp</a></li>
							<li class="" id="reason-link"><a class="waves-effect" asp-area="" asp-controller="Reason" asp-action="index">Reason</a></li>							
							<li class="" id="batch-link"><a class="waves-effect" asp-area="" asp-controller="Batch" asp-action="index">Purchase Reference Batch</a></li>
							<li class="" id="asset-link"><a class="waves-effect" asp-area="" asp-controller="Asset" asp-action="index">Asset</a></li>
							<li class="" id="asset-requisition-link"><a class="waves-effect" asp-area="" asp-controller="AssetRequisition" asp-action="index">Asset Requisition</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Trackz</span></a>
						<ul class="pcoded-submenu">							
							<li class=""><a href="#" class="waves-effect" target="_blank">Test1</a></li>
							<li class=""><a href="#" class="waves-effect" target="_blank">Test 2</a></li>
							<li class=""><a href="#" class="waves-effect" target="_blank">Test 3</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Administration</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">HRMS</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Branch" asp-action="index">Branch</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Company" asp-action="index">Company</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Department" asp-action="index">Department</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Deputation" asp-action="index">Deputation</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Division" asp-action="index">Division</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Locations" asp-action="index">Locations</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Salutation" asp-action="index">Salutation</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="Zones" asp-action="index">Zones</a></li>
							<li class=""><a class="waves-effect" asp-area="" asp-controller="EmpMigrate" asp-action="index">Beehive Migrated Employee Data</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Support</label>
					</li>
					<li class="nav-item"><a href="#" class="nav-link waves-effect waves-light" target="_blank"><span class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Documentation</span></a></li>
					<li class="nav-item">
						<a href="#" class="nav-link waves-effect waves-light" target="_blank">
							<span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">
								Need
								support ?
							</span>
						</a>
					</li>

				</ul>

				<div class="card text-center" style="display:none;">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">Upgrade to pro</h6>
						<p>upgrade for get full themes and 30min support</p>
						<a href="#!" target="_blank" class="btn waves-effect waves-light btn-gradient-primary wave-effect waves-light btn-sm text-white m-0">Upgrade</a>
					</div>
				</div>
			</div>

		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">

		<div class="m-header">
			<a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
			<a href="index.html" class="b-brand">
				<!-- <div class="b-bg">
					E
				</div>
				<span class="b-title">Flex Able</span> -->
				<img src="../assets/images/logo.png" alt="" class="logo images">
				<img src="../assets/images/logo-icon.png" alt="" class="logo-thumb images">
			</a>
		</div>
		<a class="mobile-menu waves-effect waves-light" id="mobile-header" href="#!">
			<i class="feather icon-more-horizontal"></i>
		</a>
		<div class="collapse navbar-collapse">
			<a href="#!" class="mob-toggler"></a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">				
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li>
					<div class="dropdown drp-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon feather icon-settings"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right profile-notification">
							<div class="pro-head">								
								<span> <i class="feather icon-user"></i> <span id="loggedinUser" class="text-uppercase">User</span></span>
								<a href="#" onclick="logout()" class="dud-logout" title="Logout">
									<i class="feather icon-log-out"></i>
								</a>
							</div>
							<ul class="pro-body">
								<li><a href="#!" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
								<li><a href="#!" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>								
								<li><a href="/Login" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</header>
	<!-- [ Header ] end -->
	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<!-- [ Main Content ] start -->
							<div class="row my-flex-card">
								<!-- page statustic card start -->
								@RenderBody()

							</div>

							<!-- [ Main Content ] end -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ Main Content ] end -->
	<!-- Warning Section start -->
	<!-- Older IE warning message -->
	<!--[if lt IE 11]>
		<div class="ie-warning">
			<h1>Warning!!</h1>
			<p>You are using an outdated version of Internet Explorer, please upgrade
			   <br/>to any of the following web browsers to access this website.
			</p>
			<div class="iew-container">
				<ul class="iew-download">
					<li>
						<a href="http://www.google.com/chrome/">
							<img src="../assets/images/browser/chrome.png" alt="Chrome">
							<div>Chrome</div>
						</a>
					</li>
					<li>
						<a href="https://www.mozilla.org/en-US/firefox/new/">
							<img src="../assets/images/browser/firefox.png" alt="Firefox">
							<div>Firefox</div>
						</a>
					</li>
					<li>
						<a href="http://www.opera.com">
							<img src="../assets/images/browser/opera.png" alt="Opera">
							<div>Opera</div>
						</a>
					</li>
					<li>
						<a href="https://www.apple.com/safari/">
							<img src="../assets/images/browser/safari.png" alt="Safari">
							<div>Safari</div>
						</a>
					</li>
					<li>
						<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
							<img src="../assets/images/browser/ie.png" alt="">
							<div>IE (11 & above)</div>
						</a>
					</li>
				</ul>
			</div>
			<p>Sorry for the inconvenience!</p>
		</div>
	<![endif]-->
	<!-- Warning Section Ends -->
	<!-- Required Js -->
	<script src="../assets/js/vendor-all.min.js"></script>
	<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/js/waves.min.js"></script>
	<script src="../assets/js/pcoded.min.js"></script>
	<script src="../assets/js/menu-setting.min.js"></script>
	<!-- google-map Js -->
	<script src="../assets/plugins/google-maps/js/markerclusterer.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="../assets/plugins/google-maps/js/gmaps.js"></script>
	<script src="../assets/js/pages/google-maps.js"></script>

	<!-- am chart js -->
	<script src="../assets/plugins/chart-am4/js/core.js"></script>
	<script src="../assets/plugins/chart-am4/js/charts.js"></script>
	<script src="../assets/plugins/chart-am4/js/animated.js"></script>
	<!-- dashboard-custom js -->
	<script src="../assets/js/pages/dashboard-analytics.js"></script>
	<script src="../assets/js/map.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtfUvHeQpaf7M8Q9WTNceF8JLX5_p2kl8&callback=myMap"></script>
	<script src="../assets/js/pages/chart.js"></script>
	<script src="../assets/js/pages/dashboard-sale.js"></script>
	<script src="../assets/plugins/data-tables/js/datatables.min.js"></script>
	<script src="../assets/js/pages/data-basic-custom.js"></script>
    <script src="../assets/js/pages/data-column-custom.js"></script>

	<!-- jquery-validation Js -->
	<script src="../assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>

		<!-- notification Js -->
	<script src="../assets/plugins/notification/js/bootstrap-growl.min.js"></script>
	<script src="~/customjs/growlnotification.js"></script>
	<script src="../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
	<script>setUserName()</script>
</body>
	<div class="loader" style="display:none">
		<span style="position: absolute;color: black;font-weight: 900;" id="loader-message">Please wait.....</span>
		<div class="spinner-border" style="width: 18rem;height: 18rem;color: black;" role="status">
			<span class="sr-only" style="color: black;">Loading...</span>
		</div>
	</div>
</html>