.loader {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 50;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.5;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

thead{
    position:sticky;
    top:0;
}

.sub-form .form-group{
    margin-bottom: 2px !important;
}

.sub-form .form-label{
    margin-bottom: 0px;
}

.main-form {
    
}

.table-form {
    margin-top: 12px;    
    padding:0px !important;
}

