@{
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from html.phoenixcoded.net/flex-able/bootstrap/default/auth-signin-img-side.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Oct 2022 12:47:28 GMT -->
<head>

	<title>Vishwa samudra</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />

	<!-- Favicon icon -->
	<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="../assets/plugins/animation/css/animate.min.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="../assets/css/style.css">
	
	


</head>
<body>
<!-- [ signin-img ] start -->
<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
	<div class="row align-items-center w-100 align-items-stretch bg-white">
		<div class="d-none d-lg-flex col-md-8 aut-bg-img d-md-flex justify-content-center">
			<div class="col-md-8 d-flex">
				<div class="auth-content d-flex align-items-stretch">
					<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators justify-content-start mx-0">
							<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
							<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<h1 class="text-white mb-5">Login in Vishwa samudra</h1>
									<p class="text-white">A HALLMARK IN GERMAN TECHNOLOGY .</p>
							</div>
							<div class="carousel-item">
								<h1 class="text-white mb-5">Vishwa samudra</h1>
									<p class="text-white">A NEW REVOLUTION IN ROAD BUILDING </p>
							</div>
							<div class="carousel-item">
								<h1 class="text-white mb-5">Vishwa samudra</h1>
									<p class="text-white">ROPEWAYS FOR URBAN TRANSPORTATION</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 align-items-stret h-100 ad-flex justify-content-center">
			<div class=" auth-content">
					<img src="../assets/images/logo-dark.png" alt="" style="height: 55px;" class="img-fluid mb-4">
				<h4 class="mb-3 f-w-400">Login into your account</h4>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="feather icon-user"></i></span>
					</div>
					<input type="email" class="form-control" placeholder="Username">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="feather icon-lock"></i></span>
					</div>
					<input type="password" class="form-control" placeholder="Password">
				</div>
				
				
				<div class="form-group mt-2">
					<div class="checkbox checkbox-primary d-inline">
						<input type="checkbox" name="checkbox-p-1" id="checkbox-p-1" checked="">
						<label for="checkbox-p-1" class="cr">Save credentials</label>
					</div>
				</div>
					@Html.ActionLink("Login", "Index","Dashboard", "",
					new {@style="color: white;", @class="btn waves-effect waves-light btn-primary mb-4" })
					<p class="mb-2 text-muted">Forgot password? <a href="#" class="f-w-400">Reset</a></p>				
			</div>
		</div>
	</div>
</div>
<!-- [ signin-img ] end -->

<!-- Required Js -->
<script src="../assets/js/vendor-all.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/waves.min.js"></script>




</body>



</html>

