@{

}

<div class="col-xl-12">
	<div class="card product-progress-card" style="margin-top:16px;margin-bottom:0px">
		<div class="card-body">
			<div class="row pp-main">
				<div class="col-xl-3 col-md-6">
					<div class="pp-cont">
						<div class="row align-items-center m-b-20">
							<div class="col-auto">
								<i class="fas fa-cube f-24 text-mute"></i>
							</div>
							<div class="col text-right">
								<h2 class="m-b-0 text-c-blue">2476</h2>
							</div>
						</div>
						<div class="row align-items-center m-b-15">
							<div class="col-auto">
								<p class="m-b-0">New Purchase</p>
							</div>
							<div class="col text-right">
								<p class="m-b-0 text-c-blue"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-c-blue" style="width:45%"></div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="pp-cont">
						<div class="row align-items-center m-b-20">
							<div class="col-auto">
								<i class="fas fa-warehouse f-24 text-mute"></i>
							</div>
							<div class="col text-right">
								<h2 class="m-b-0 text-c-green">40000</h2>
							</div>
						</div>
						<div class="row align-items-center m-b-15">
							<div class="col-auto">
								<p class="m-b-0">Using</p>
							</div>
							<div class="col text-right">
								<p class="m-b-0 text-c-green"><i class="fas fa-long-arrow-alt-up m-r-10"></i>54%</p>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-c-green" style="width:35%"></div>
						</div>
					</div>
				</div>				
				<div class="col-xl-3 col-md-6">
					<div class="pp-cont">
						<div class="row align-items-center m-b-20">
							<div class="col-auto">
								<i class="fas fa-exclamation-triangle f-24 text-mute"></i>
							</div>
							<div class="col text-right">
								<h2 class="m-b-0 text-c-yellow">630</h2>
							</div>
						</div>
						<div class="row align-items-center m-b-15">
							<div class="col-auto">
								<p class="m-b-0">Repairs</p>
							</div>
							<div class="col text-right">
								<p class="m-b-0 text-c-yellow"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-c-yellow" style="width:65%"></div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="pp-cont">
						<div class="row align-items-center m-b-20">
							<div class="col-auto">
								<i class="fas fa-dumpster f-24 text-mute"></i>
							</div>
							<div class="col text-right">
								<h2 class="m-b-0 text-c-red">843</h2>
							</div>
						</div>
						<div class="row align-items-center m-b-15">
							<div class="col-auto">
								<p class="m-b-0">Dumped</p>
							</div>
							<div class="col text-right">
								<p class="m-b-0 text-c-red"><i class="fas fa-long-arrow-alt-down m-r-10"></i>34%</p>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-c-red" style="width:75%"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>


<div class="col-xl-4 col-md-6" style="margin-top:1px;margin-bottom:0px;padding-right:2px;padding-left:10px">
	<div class="card" style="margin-top:3px;margin-bottom:0px">
		<div class="card-body">
			<div class="row">
				<div class="col-6">
					<h6>Assets Issued</h6>
				</div>
				<div class="col">
					<div class="dropdown float-right">
						<a class="dropdown-toggle text-c-blue" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Last 6 month
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">1 week</a>
							<a class="dropdown-item" href="#">2 year</a>
							<a class="dropdown-item" href="#">3 month</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<h2 class="mt-2 mb-0">2800</h2>
					<span class="">Units</span>
					<h6 class="mb-0 mt-3">Returned: <span class="text-primary">2000</span></h6>
					<h6>Pending <span class="text-danger">800</span></h6>
				</div>
				<div class="col">
					<div id="hd-complited-ticket" style="height: 130px; width: 100%; position: relative;"><div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div class="resize-sensor-expand" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 135px; height: 140px;"></div></div><div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div><div style="width: 100%; height: 100%; position: relative; left: -0.171875px; top: -0.015625px;"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="group" style="width: 100%; height: 100%; overflow: visible;"><desc>JavaScript chart by amCharts</desc><defs><clipPath id="id-32"><rect width="125" height="130"></rect></clipPath><linearGradient id="gradient-id-55" x1="1%" x2="99%" y1="59%" y2="41%"><stop stop-color="#474758" offset="0"></stop><stop stop-color="#474758" stop-opacity="1" offset="0.75"></stop><stop stop-color="#3cabff" stop-opacity="1" offset="0.755"></stop></linearGradient><filter id="filter-id-64" width="200%" height="200%" x="-50%" y="-50%"></filter><filter id="filter-id-84" width="200%" height="200%" x="-50%" y="-50%"></filter><clipPath id="id-6291"><path d=" M-41,0  L-50,0  a50,50,0,0,1,100,0 L41,0  a41,41,0,0,0,-82,0 L-41,0 " r="0"></path></clipPath><filter id="filter-id-37" width="200%" height="200%" x="-50%" y="-50%"><feGaussianBlur result="blurOut" in="SourceGraphic" stdDeviation="1.5"></feGaussianBlur><feOffset result="offsetBlur" dx="1" dy="1"></feOffset><feFlood flood-color="#000000" flood-opacity="0.5"></feFlood><feComposite in2="offsetBlur" operator="in"></feComposite><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><filter id="filter-id-52" width="120%" height="120%" x="-10%" y="-10%"><feColorMatrix type="saturate" values="0"></feColorMatrix></filter></defs><g><g fill="#ffffff" fill-opacity="0"><rect width="125" height="130"></rect></g><g><g role="region" clip-path="url(#id-32)" opacity="1" aria-label="Chart"><g><g><g><g><g><g><g><g transform="translate(0,0)"><g fill="#ffffff" fill-opacity="0" transform="translate(0,0)"><rect width="125" height="130"></rect></g><g><g transform="translate(62.5,90)"><g><g opacity="0"></g><g><g><g><g><g><g></g></g><g fill="#000000" fill-opacity="0" opacity="0" stroke-opacity="0" transform="translate(-8,-9.5)"><g style="user-select: none;"><text x="0" y="19" dy="-3.8"><tspan>L</tspan></text></g></g><g fill="#000000" display="none"><g display="none"></g></g><g fill="#000000" display="none"><g display="none"></g></g><g fill="#000000"><g display="none"></g></g><g fill="#000000"><g display="none"></g></g><g fill="#000000"><g display="none"></g></g><g fill="#000000"><g display="none"></g></g><g fill="#000000"><g display="none"></g></g><g fill="#000000"><g display="none"></g></g><g fill="#000000" display="none"><g display="none"></g></g><g><g></g></g></g></g><g stroke="#000000" stroke-opacity="0.15" fill="none"><path transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" style="pointer-events: none;"><path d=" M-40,0  a40,40,0,0,1,80,0" transform="translate(-0.5,-0.5)"></path></g><g fill="#000000"><g display="none"></g></g></g></g><g><g><g><g><g><g><g stroke="#000000" stroke-opacity="0.15" fill="none"><path d=" M-41,0  L-50,0 "></path></g><g fill="#4680ff" fill-opacity="1" style="pointer-events: none;"><path d=" M-41,0  L-50,0  a50,50,0,0,1,12.9199,-33.542 L-30.4057,-27.5045  a41,41,0,0,0,-10.5943,27.5045 L-41,0 "></path></g><g stroke="#000000" stroke-opacity="0.15" fill="none"><path d=" M-30.4056,-27.5046  L-37.08,-33.5422 "></path></g><g fill="#eff3f6" fill-opacity="1" style="pointer-events: none;"><path d=" M-30.4057,-27.5045  L-37.0801,-33.542  a50,50,0,0,1,87.0801,33.542 L41,0  a41,41,0,0,0,-71.4057,-27.5045 L-30.4057,-27.5045 "></path></g><g fill-opacity="0" stroke-opacity="0" stroke="#000000" stroke-width="1"><path d=" M-50,0  L-55,0 "></path></g><g fill-opacity="0" stroke-opacity="0" stroke="#000000" stroke-width="1"><path d=" M-37.08,-33.5422  L-40.788,-36.8964 "></path></g></g></g><g fill="#000000" fill-opacity="0" opacity="0" stroke-opacity="0" display="none"><g style="user-select: none;"><text x="0" y="0" dy="0"><tspan>L</tspan></text></g></g><g fill="#000000" transform="translate(-65,0)"><g display="none"></g></g><g fill="#000000" transform="translate(-48.2039539865,-43.6048027155)"><g display="none"></g></g><g fill="#000000" stroke="#000000" display="none"><g><g display="none"><circle></circle></g><g><path></path></g></g></g><g><g></g></g></g></g><g stroke="#000000" stroke-opacity="0.15" fill="none"><path transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" style="pointer-events: none;"><path d=" M-50,0  a50,50,0,0,1,100,0" transform="translate(-0.5,-0.5)"></path></g><g fill="#000000"><g display="none"></g></g></g></g><g fill="#000000" font-size="18"><g transform="translate(-18,-24)" style="user-select: none;"><text x="0" y="24" dy="-4.8"><tspan>18%</tspan></text></g></g><g fill="#000000" font-size="12"><g transform="translate(-47.5,0)" style="user-select: none;"><text x="0" y="17" dy="-3.4"><tspan>Utilization percent</tspan></text></g></g><g><g></g></g><g clip-path="url(#id-6291)"><g></g></g></g></g><g role="button" focusable="true" opacity="0" visibility="hidden" transform="translate(85,-3)" aria-labelledby="id-19-title"><g fill="#6794dc" stroke="#ffffff" fill-opacity="1" stroke-opacity="0" transform="translate(0,8)"><path d="M17,0 L18,0 a17,17 0 0 1 17,17 L35,17 a17,17 0 0 1 -17,17 L17,34 a17,17 0 0 1 -17,-17 L0,17 a17,17 0 0 1 17,-17 Z"></path></g><g transform="translate(9,9)"><g stroke="#ffffff" style="pointer-events: none;" transform="translate(0,8)"><path d=" M0,0  L11,0 " transform="translate(2.5,7.5)"></path></g><g fill="#000000" style="pointer-events: none;" transform="translate(17,8)"><g display="none"></g></g></g><title id="id-19-title">Zoom Out</title></g></g></g><g><g></g></g><g transform="translate(125,0)"><g></g></g></g></g><g><g></g></g><g transform="translate(0,130)"><g></g></g></g></g></g></g></g></g><g><g><g role="tooltip" visibility="hidden" opacity="0"><g fill="#ffffff" fill-opacity="0.9" stroke-width="1" stroke-opacity="1" stroke="#ffffff" filter="url(#filter-id-37)" style="pointer-events: none;" transform="translate(0,6)"><path d="M3,0 L3,0 L0,-6 L13,0 L21,0 a3,3 0 0 1 3,3 L24,10 a3,3 0 0 1 -3,3 L3,13 a3,3 0 0 1 -3,-3 L0,3 a3,3 0 0 1 3,-3"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(12,6)"><g transform="translate(0,7)" display="none"></g></g></g></g><g visibility="hidden" display="none"><g fill="#ffffff" opacity="1"><rect width="125" height="130"></rect></g><g><g><g><g stroke-opacity="1" fill="#f3f3f3" fill-opacity="0.8"><g><g><path d=" M53,0  a53,53,0,0,1,-106,0 a53,53,0,0,1,106,0 M42,0  a42,42,0,0,0,-84,0 a42,42,0,0,0,84,0 L42,0 "></path></g></g></g><g stroke-opacity="1" fill="#000000" fill-opacity="0.2"><g><g><path d=""></path></g></g></g><g fill="#000000" fill-opacity="0.4"><g display="none"></g></g></g></g></g></g><g opacity="0.3" aria-labelledby="id-52-title" filter="url(#filter-id-52)" style="cursor: pointer;" transform="translate(0,109)"><g fill="#ffffff" opacity="0"><rect width="66" height="21"></rect></g><g><g shape-rendering="auto" fill="none" stroke-opacity="1" stroke-width="1.7999999999999998" stroke="#3cabff"><path d=" M15,15  C17.4001,15 22.7998,15.0001 27,15 C31.2002,14.9999 33.2999,6 36,6 C38.7001,6 38.6999,10.5 40.5,10.5 C42.3001,10.5 42.2999,6 45,6 C47.7001,6 50.9999,14.9999 54,15 C57.0002,15.0001 58.7999,15 60,15"></path></g><g shape-rendering="auto" fill="none" stroke-opacity="1" stroke-width="1.7999999999999998" stroke="url(#gradient-id-55)"><path d=" M6,15  C8.2501,15 9.7498,15.0001 15,15 C20.2502,14.9999 20.7748,3.6 27,3.6 C33.2252,3.6 33.8998,14.9999 39.9,15 C45.9002,15.0001 45.9748,15 51,15 C56.0252,15 57.7499,15 60,15"></path></g></g><title id="id-52-title">Chart created using amCharts library</title></g><g role="tooltip" visibility="hidden" opacity="0" transform="translate(39.68416762018622,57.145201373068176)"><g fill="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1" stroke="#000000" style="pointer-events: none;" transform="translate(-10,-15)"><path d="M0,0 L20,0 a0,0 0 0 1 0,0 L20,10 a0,0 0 0 1 -0,0 L20,10 L15,10 L10,15 L5,10 L0,10 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(0,-15)"><g transform="translate(0,5)" display="none"></g></g></g></g><g role="tooltip" visibility="hidden" opacity="0" transform="translate(33.98020952523278,48.93150171633522)"><g fill="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1" stroke="#000000" style="pointer-events: none;" transform="translate(-10,-15)"><path d="M0,0 L20,0 a0,0 0 0 1 0,0 L20,10 a0,0 0 0 1 -0,0 L20,10 L15,10 L10,15 L5,10 L0,10 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(0,-15)"><g transform="translate(0,5)" display="none"></g></g></g></g></g></g></g></g></svg></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xl-4 col-md-6" style="margin-top:1px;margin-bottom:0px;margin-right:0px;padding-right:2px;padding-left:2px">
	<div class="card" style="margin-top:3px;margin-bottom:0px">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-auto">
                                                <h6>Assets Location</h6>
                                            </div>
                                            <div class="col">
                                                <div class="dropdown float-right">
                                                    <a class="dropdown-toggle text-c-blue" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 6 months</a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">1 week</a>
                                                        <a class="dropdown-item" href="#">2 year</a>
                                                        <a class="dropdown-item" href="#">3 month</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 pr-0">
                                                <h6 class="my-3"><i class="feather icon-map f-20 mr-2" style="color:#dc67ce"></i>Store-1<span class="text-c-green ml-2 f-14">200</span></h6>
                                                <h6 class="my-3"><i class="feather icon-map f-20 mr-2" style="color:#8067dc"></i>Store-2<span class="text-c-red ml-2 f-14">300</span></h6>
                                                <h6 class="my-3"><i class="feather icon-map f-20 mr-2" style="color:#67b7dc"></i>Store-3<span class="text-c-green ml-2 f-14">800</span></h6>
                                            </div>
                                            <div class="col-6">
                                                <div id="chart-percent" class="chart-percent" style="height: 135px; position: relative;"><div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div class="resize-sensor-expand" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 135px; height: 145px;"></div></div><div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div><div style="width: 100%; height: 100%; position: relative; left: 0.484375px; top: -0.015625px;"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="group" style="width: 100%; height: 100%; overflow: visible;"><desc>JavaScript chart by amCharts</desc><defs><clipPath id="id-878"><rect width="125" height="135"></rect></clipPath><linearGradient id="gradient-id-901" x1="1%" x2="99%" y1="59%" y2="41%"><stop stop-color="#474758" offset="0"></stop><stop stop-color="#474758" stop-opacity="1" offset="0.75"></stop><stop stop-color="#3cabff" stop-opacity="1" offset="0.755"></stop></linearGradient><clipPath id="id-910"></clipPath><filter id="filter-id-883" width="200%" height="200%" x="-50%" y="-50%"><feGaussianBlur result="blurOut" in="SourceGraphic" stdDeviation="1.5"></feGaussianBlur><feOffset result="offsetBlur" dx="1" dy="1"></feOffset><feFlood flood-color="#000000" flood-opacity="0.5"></feFlood><feComposite in2="offsetBlur" operator="in"></feComposite><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><filter id="filter-id-898" width="120%" height="120%" x="-10%" y="-10%"><feColorMatrix type="saturate" values="0"></feColorMatrix></filter><filter id="filter-id-915" width="200%" height="200%" x="-50%" y="-50%"><feGaussianBlur result="blurOut" in="SourceGraphic" stdDeviation="1.5"></feGaussianBlur><feOffset result="offsetBlur" dx="1" dy="1"></feOffset><feFlood flood-color="#000000" flood-opacity="0.5"></feFlood><feComposite in2="offsetBlur" operator="in"></feComposite><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g><g fill="#ffffff" fill-opacity="0"><rect width="125" height="135"></rect></g><g><g role="region" clip-path="url(#id-878)" opacity="1" aria-label="Chart"><g><g><g><g><g><g transform="translate(62.5,67.5)"><g><g role="group" opacity="1" aria-label="Series"><g><g clip-path="url(#id-910)"><g></g></g><g></g><g><g><g stroke-opacity="1" role="menuitem" focusable="true" fill="#67b7dc" stroke="#67b7dc"><g><g><path d=" M0,-30  L0,-50  a50,50,0,0,1,45.9306,69.7579 L27.5584,11.8548  a30,30,0,0,0,-27.5584,-41.8548 L0,-30 "></path></g><g></g></g></g><g stroke-opacity="1" role="menuitem" focusable="true" fill="#8067dc" stroke="#8067dc"><g><g><path d=" M27.5584,11.8548  L45.9306,19.7579  a50,50,0,0,1,-50.663,30.0176 L-2.8394,29.8653  a30,30,0,0,0,30.3978,-18.0106 L27.5584,11.8548 "></path></g><g></g></g></g><g stroke-opacity="1" role="menuitem" focusable="true" fill="#dc67ce" stroke="#dc67ce"><g><g><path d=" M-2.8394,29.8653  L-4.7324,49.7755  a50,50,0,0,1,4.7324,-99.7755 L0,-30  a30,30,0,0,0,-2.8394,59.8653 L-2.8394,29.8653 "></path></g><g></g></g></g></g></g><g><g></g></g><g><g></g></g></g></g></g></g><g><g><g><g></g></g></g></g></g></g></g></g></g></g><g><g><g role="tooltip" visibility="hidden" opacity="0"><g fill="#ffffff" fill-opacity="0.9" stroke-width="1" stroke-opacity="1" stroke="#ffffff" filter="url(#filter-id-883)" style="pointer-events: none;" transform="translate(0,6)"><path d="M3,0 L3,0 L0,-6 L13,0 L21,0 a3,3 0 0 1 3,3 L24,10 a3,3 0 0 1 -3,3 L3,13 a3,3 0 0 1 -3,-3 L0,3 a3,3 0 0 1 3,-3"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(12,6)"><g transform="translate(0,7)" display="none"></g></g></g></g><g visibility="hidden" style="pointer-events: none;" display="none"><g fill="#ffffff" opacity="1"><rect width="125" height="135"></rect></g><g><g><g><g stroke-opacity="1" fill="#f3f3f3" fill-opacity="0.8"><g><g><path d=" M53,0  a53,53,0,0,1,-106,0 a53,53,0,0,1,106,0 M42,0  a42,42,0,0,0,-84,0 a42,42,0,0,0,84,0 L42,0 "></path></g></g></g><g stroke-opacity="1" fill="#000000" fill-opacity="0.2"><g><g><path d=" M50,0  a50,50,0,0,1,-100,0 a50,50,0,0,1,100,0 M45,0  a45,45,0,0,0,-90,0 a45,45,0,0,0,90,0 L45,0 "></path></g></g></g><g fill="#000000" fill-opacity="0.4"><g transform="translate(-18.5,-9.5)" style="user-select: none;"><text x="0" y="19" dy="-3.8"><tspan>100%</tspan></text></g></g></g></g></g></g><g opacity="0.3" aria-labelledby="id-898-title" filter="url(#filter-id-898)" style="cursor: pointer;" transform="translate(0,114)"><g fill="#ffffff" opacity="0"><rect width="66" height="21"></rect></g><g><g shape-rendering="auto" fill="none" stroke-opacity="1" stroke-width="1.7999999999999998" stroke="#3cabff"><path d=" M15,15  C17.4001,15 22.7998,15.0001 27,15 C31.2002,14.9999 33.2999,6 36,6 C38.7001,6 38.6999,10.5 40.5,10.5 C42.3001,10.5 42.2999,6 45,6 C47.7001,6 50.9999,14.9999 54,15 C57.0002,15.0001 58.7999,15 60,15"></path></g><g shape-rendering="auto" fill="none" stroke-opacity="1" stroke-width="1.7999999999999998" stroke="url(#gradient-id-901)"><path d=" M6,15  C8.2501,15 9.7498,15.0001 15,15 C20.2502,14.9999 20.7748,3.6 27,3.6 C33.2252,3.6 33.8998,14.9999 39.9,15 C45.9002,15.0001 45.9748,15 51,15 C56.0252,15 57.7499,15 60,15"></path></g></g><title id="id-898-title">Chart created using amCharts library</title></g><g role="tooltip" visibility="hidden" opacity="0"><g fill="#ffffff" fill-opacity="0.9" stroke-width="1" stroke-opacity="1" stroke="#ffffff" filter="url(#filter-id-915)" style="pointer-events: none;" transform="translate(0,6)"><path d="M3,0 L3,0 L0,-6 L13,0 L21,0 a3,3 0 0 1 3,3 L24,10 a3,3 0 0 1 -3,3 L3,13 a3,3 0 0 1 -3,-3 L0,3 a3,3 0 0 1 3,-3"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(12,6)"><g transform="translate(0,7)" display="none"></g></g></g></g></g></g></g></g></svg></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<div class="col-xl-4 col-md-6" style="margin-top:1px;margin-bottom:0px;margin-right:0px;padding-right:10px;padding-left:2px">
                                        <!-- conversion1-section start -->
    <div class="card" style="margin-top:3px;margin-bottom:0px">
                                            <div class="card-body">
                                                <h6>Assets Available</h6>
                                                <h4 class="m-0">5896<span class="text-c-blue ml-2"><i class="feather icon-arrow-up"></i>65.50%</span></h4>
                                                <span>Utilization</span>
                                            </div>
                                            <div id="coversions-chart" style="height: 90px; width: 100%; position: relative;"><div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div class="resize-sensor-expand" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 340px; height: 75px;"></div></div><div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div><div style="width: 100%; height: 100%; position: relative; left: -0.34375px; top: 0.171875px;"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="group" style="width: 100%; height: 100%; overflow: visible;"><desc>JavaScript chart by amCharts</desc><defs><clipPath id="id-2335"><rect width="330" height="65"></rect></clipPath><linearGradient id="gradient-id-2358" x1="1%" x2="99%" y1="59%" y2="41%"><stop stop-color="#474758" offset="0"></stop><stop stop-color="#474758" stop-opacity="1" offset="0.75"></stop><stop stop-color="#3cabff" stop-opacity="1" offset="0.755"></stop></linearGradient><filter id="filter-id-2367" width="200%" height="200%" x="-50%" y="-50%"></filter><filter id="filter-id-2387" width="200%" height="200%" x="-50%" y="-50%"></filter><clipPath id="id-2420"><path d="M0,0 L330,0 L330,65 L0,65 L0,0"></path></clipPath><clipPath id="id-2439"><rect width="330" height="65"></rect></clipPath><filter id="filter-id-2340" width="200%" height="200%" x="-50%" y="-50%"><feGaussianBlur result="blurOut" in="SourceGraphic" stdDeviation="1.5"></feGaussianBlur><feOffset result="offsetBlur" dx="1" dy="1"></feOffset><feFlood flood-color="#000000" flood-opacity="0.5"></feFlood><feComposite in2="offsetBlur" operator="in"></feComposite><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><filter id="filter-id-2425" width="200%" height="200%" x="-50%" y="-50%"><feGaussianBlur result="blurOut" in="SourceGraphic" stdDeviation="1.5"></feGaussianBlur><feOffset result="offsetBlur" dx="1" dy="1"></feOffset><feFlood flood-color="#000000" flood-opacity="0.5"></feFlood><feComposite in2="offsetBlur" operator="in"></feComposite><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><clipPath id="id-10986"><rect width="330" height="65"></rect></clipPath><filter id="filter-id-2355" width="120%" height="120%" x="-10%" y="-10%"><feColorMatrix type="saturate" values="0"></feColorMatrix></filter></defs><g><g fill="#ffffff" fill-opacity="0"><rect width="330" height="65"></rect></g><g><g role="region" clip-path="url(#id-2335)" opacity="1" aria-label="Chart"><g><g><g><g><g><g><g><g transform="translate(0,0)" style="touch-action: none; user-select: none; -webkit-user-drag: none;"><g fill="#ffffff" fill-opacity="0" transform="translate(0,0)"><rect width="330" height="65"></rect></g><g><g><g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(0,130)" display="none"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(0,97.5)" display="none"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(0,65)"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(0,32.5)"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(0,-32.5)" display="none"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g></g></g><g><g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(330,0)"><path d=" M0,0  L0,65 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none"><path d=" M0,0  L0,65 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(125.4,0)"><path d=" M0,0  L0,65 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0" fill="none" transform="translate(250.8,0)"><path d=" M0,0  L0,65 " transform="translate(-0.5,-0.5)"></path></g></g></g><g><g><g role="group" stroke-opacity="0" fill-opacity="1" fill="#67b7dc" stroke="#67b7dc" aria-label="Series" id="id-2415"><g><g clip-path="url(#id-2420)"><g><g><g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(1.452,30.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,34.1 a0,0 0 0 1 -0,0 L0,34.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(8.052,38.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,26.6 a0,0 0 0 1 -0,0 L0,26.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(14.652,41.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,23.1 a0,0 0 0 1 -0,0 L0,23.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(21.252,42.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,22.4 a0,0 0 0 1 -0,0 L0,22.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(27.852,46.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,18.2 a0,0 0 0 1 -0,0 L0,18.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(34.452,51.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,13.6 a0,0 0 0 1 -0,0 L0,13.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(41.052,54.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,10.1 a0,0 0 0 1 -0,0 L0,10.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(47.652,43.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,21.1 a0,0 0 0 1 -0,0 L0,21.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(54.252,46.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,18.2 a0,0 0 0 1 -0,0 L0,18.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(60.852,44.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,20.1 a0,0 0 0 1 -0,0 L0,20.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(67.452,51.7)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,13.3 a0,0 0 0 1 -0,0 L0,13.3 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(74.052,37.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,27.6 a0,0 0 0 1 -0,0 L0,27.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(80.652,40.3)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,24.7 a0,0 0 0 1 -0,0 L0,24.7 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(87.252,35.1)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,29.9 a0,0 0 0 1 -0,0 L0,29.9 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(93.852,38.7)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,26.3 a0,0 0 0 1 -0,0 L0,26.3 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(93.852,40.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,24.4 a0,0 0 0 1 -0,0 L0,24.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(100.452,43.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,21.4 a0,0 0 0 1 -0,0 L0,21.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(107.052,34.1)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,30.9 a0,0 0 0 1 -0,0 L0,30.9 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(113.652,38.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,26.6 a0,0 0 0 1 -0,0 L0,26.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(120.252,35.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,29.6 a0,0 0 0 1 -0,0 L0,29.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(126.852,36.1)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,28.9 a0,0 0 0 1 -0,0 L0,28.9 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(133.452,46.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,18.2 a0,0 0 0 1 -0,0 L0,18.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(140.052,51.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,13.6 a0,0 0 0 1 -0,0 L0,13.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(146.652,58.2)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,6.8 a0,0 0 0 1 -0,0 L0,6.8 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(153.252,47.1)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,17.9 a0,0 0 0 1 -0,0 L0,17.9 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(159.852,33.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,31.2 a0,0 0 0 1 -0,0 L0,31.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(166.452,31.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,33.1 a0,0 0 0 1 -0,0 L0,33.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(173.052,35.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,29.6 a0,0 0 0 1 -0,0 L0,29.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(179.652,37.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,27.6 a0,0 0 0 1 -0,0 L0,27.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(186.252,40.3)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,24.7 a0,0 0 0 1 -0,0 L0,24.7 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(192.852,44.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,20.1 a0,0 0 0 1 -0,0 L0,20.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(199.452,41.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,23.1 a0,0 0 0 1 -0,0 L0,23.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(206.052,30.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,34.1 a0,0 0 0 1 -0,0 L0,34.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(212.652,27.3)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,37.7 a0,0 0 0 1 -0,0 L0,37.7 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(219.252,30.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,34.1 a0,0 0 0 1 -0,0 L0,34.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(225.852,28.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,36.4 a0,0 0 0 1 -0,0 L0,36.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(232.452,25.7)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,39.3 a0,0 0 0 1 -0,0 L0,39.3 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(239.052,29.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,35.4 a0,0 0 0 1 -0,0 L0,35.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(245.652,33.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,31.2 a0,0 0 0 1 -0,0 L0,31.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(252.252,31.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,33.1 a0,0 0 0 1 -0,0 L0,33.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(258.852,15.9)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,49.1 a0,0 0 0 1 -0,0 L0,49.1 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(265.452,11.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,53.6 a0,0 0 0 1 -0,0 L0,53.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(272.052,7.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,57.2 a0,0 0 0 1 -0,0 L0,57.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(278.652,12.4)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,52.6 a0,0 0 0 1 -0,0 L0,52.6 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(285.252,6.2)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,58.8 a0,0 0 0 1 -0,0 L0,58.8 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(291.852,14.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,50.4 a0,0 0 0 1 -0,0 L0,50.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(298.452,7.8)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,57.2 a0,0 0 0 1 -0,0 L0,57.2 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(305.052,13.3)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,51.7 a0,0 0 0 1 -0,0 L0,51.7 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(311.652,2.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,62.4 a0,0 0 0 1 -0,0 L0,62.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(318.252,15.6)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,49.4 a0,0 0 0 1 -0,0 L0,49.4 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g><g stroke-opacity="1" fill="#4680ff" stroke="#4680ff" fill-opacity="1" role="listitem" transform="translate(324.852,8.1)"><g><g><path d="M0,0 L3.696,0 a0,0 0 0 1 0,0 L3.696,56.9 a0,0 0 0 1 -0,0 L0,56.9 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0 Z"></path></g></g></g></g></g></g></g><g></g></g></g></g></g><g clip-path="url(#id-10986)"><g><g fill="#67b7dc" stroke="#67b7dc"><g></g></g></g></g><g><g></g></g><g><g></g></g><g opacity="0" clip-path="url(#id-2439)" style="touch-action: none; user-select: none; -webkit-user-drag: none;" visibility="hidden"><g><g fill-opacity="0.2" fill="#000000" style="pointer-events: none;" opacity="0" visibility="hidden"><path></path></g><g stroke="#000000" fill="none" stroke-dasharray="3,3" stroke-opacity="0.4" style="pointer-events: none;" transform="translate(311.3,0)"><path d=" M0,0  L0,65 "></path></g><g stroke="#000000" fill="none" stroke-dasharray="3,3" stroke-opacity="0.4" style="pointer-events: none;" transform="translate(0,2.8)"><path d=" M0,0  L330,0 "></path></g></g></g><g role="button" focusable="true" opacity="0" visibility="hidden" transform="translate(290,-3)" aria-labelledby="id-2327-title"><g fill="#6794dc" stroke="#ffffff" fill-opacity="1" stroke-opacity="0" transform="translate(0,8)"><path d="M17,0 L18,0 a17,17 0 0 1 17,17 L35,17 a17,17 0 0 1 -17,17 L17,34 a17,17 0 0 1 -17,-17 L0,17 a17,17 0 0 1 17,-17 Z"></path></g><g transform="translate(9,9)"><g stroke="#ffffff" style="pointer-events: none;" transform="translate(0,8)"><path d=" M0,0  L11,0 " transform="translate(2.5,7.5)"></path></g><g fill="#000000" style="pointer-events: none;" transform="translate(17,8)"><g display="none"></g></g></g><title id="id-2327-title">Zoom Out</title></g></g></g><g><g><g><g><g fill="#000000" transform="translate(0,32.5) rotate(-90)"><g display="none"></g></g><g stroke="#000000" stroke-opacity="0.15" fill="none" transform="translate(0,65)" opacity="0" visibility="hidden"><path transform="translate(-0.5,-0.5)" d=" M0,0  L330,0 "></path></g><g><g><g fill="#000000" fill-opacity="0" opacity="0" stroke-opacity="0" display="none" transform="translate(0,32.5)"><g transform="translate(10,0)" style="user-select: none;"><text x="0" y="0" dy="0"><tspan>L</tspan></text></g></g></g></g><g stroke="#000000" stroke-opacity="0" fill="none" style="pointer-events: none;"><path d=" M0,0  L0,65 " transform="translate(-0.5,-0.5)"></path></g></g></g></g></g><g transform="translate(330,0)"><g></g></g></g></g><g><g></g></g><g transform="translate(0,65)"><g><g><g><g stroke="#000000" stroke-opacity="0" fill="none" style="pointer-events: none;"><path d=" M0,0  L330,0 " transform="translate(-0.5,-0.5)"></path></g><g stroke="#000000" stroke-opacity="0.15" fill="none" display="none" transform="translate(330,-65)"><path transform="translate(-0.5,-0.5)" d=" M0,0  L0,65 "></path></g><g><g><g fill="#000000" fill-opacity="0" opacity="0" stroke-opacity="0" display="none" transform="translate(165,0)"><g transform="translate(0,-10)" style="user-select: none;"><text x="0" y="0" dy="0"><tspan>L</tspan></text></g></g></g></g><g fill="#000000" transform="translate(165,0)"><g display="none"></g></g></g></g></g></g></g></g></g></g></g></g><g><g><g role="tooltip" opacity="0" aria-describedby="id-2415" transform="translate(313.5,2.6)" visibility="hidden"><g fill="#4680ff" fill-opacity="0.9" stroke-width="1" stroke-opacity="1" stroke="#ffffff" filter="url(#filter-id-2425)" style="pointer-events: none;" transform="translate(-133,-3.1)"><path d="M3,0 L124,0 a3,3 0 0 1 3,3 L127,3 L127,3 L133,3.1 L127,13 L127,29 a3,3 0 0 1 -3,3 L3,32 a3,3 0 0 1 -3,-3 L0,3 a3,3 0 0 1 3,-3"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(-69.5,-3.1)"><g transform="translate(-51.5,7)" style="user-select: none;"><text x="0" y="19" dy="-3.8"><tspan>Income in : 29.2</tspan></text></g></g></g></g><g role="tooltip" visibility="hidden" opacity="0"><g fill="#ffffff" fill-opacity="0.9" stroke-width="1" stroke-opacity="1" stroke="#ffffff" filter="url(#filter-id-2340)" style="pointer-events: none;" transform="translate(0,6)"><path d="M3,0 L3,0 L0,-6 L13,0 L21,0 a3,3 0 0 1 3,3 L24,10 a3,3 0 0 1 -3,3 L3,13 a3,3 0 0 1 -3,-3 L0,3 a3,3 0 0 1 3,-3"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(12,6)"><g transform="translate(0,7)" display="none"></g></g></g></g><g visibility="hidden" style="pointer-events: none;" display="none"><g fill="#ffffff" opacity="1"><rect width="330" height="65"></rect></g><g><g><g><g stroke-opacity="1" fill="#f3f3f3" fill-opacity="0.8"><g><g><path d=" M53,0  a53,53,0,0,1,-106,0 a53,53,0,0,1,106,0 M42,0  a42,42,0,0,0,-84,0 a42,42,0,0,0,84,0 L42,0 "></path></g></g></g><g stroke-opacity="1" fill="#000000" fill-opacity="0.2"><g><g><path d=" M50,0  a50,50,0,0,1,-100,0 a50,50,0,0,1,100,0 M45,0  a45,45,0,0,0,-90,0 a45,45,0,0,0,90,0 L45,0 "></path></g></g></g><g fill="#000000" fill-opacity="0.4"><g transform="translate(-18.5,-9.5)" style="user-select: none;"><text x="0" y="19" dy="-3.8"><tspan>100%</tspan></text></g></g></g></g></g></g><g opacity="0.4" aria-labelledby="id-2355-title" style="cursor: pointer;" transform="translate(0,44)" filter="url(#filter-id-2355)"><g fill="#ffffff" opacity="0"><rect width="66" height="21"></rect></g><g><g shape-rendering="auto" fill="none" stroke-opacity="1" stroke-width="1.7999999999999998" stroke="#3cabff"><path d=" M15,15  C17.4001,15 22.7998,15.0001 27,15 C31.2002,14.9999 33.2999,6 36,6 C38.7001,6 38.6999,10.5 40.5,10.5 C42.3001,10.5 42.2999,6 45,6 C47.7001,6 50.9999,14.9999 54,15 C57.0002,15.0001 58.7999,15 60,15"></path></g><g shape-rendering="auto" fill="none" stroke-opacity="1" stroke-width="1.7999999999999998" stroke="url(#gradient-id-2358)"><path d=" M6,15  C8.2501,15 9.7498,15.0001 15,15 C20.2502,14.9999 20.7748,3.6 27,3.6 C33.2252,3.6 33.8998,14.9999 39.9,15 C45.9002,15.0001 45.9748,15 51,15 C56.0252,15 57.7499,15 60,15"></path></g></g><title id="id-2355-title">Chart created using amCharts library</title></g><g role="tooltip" opacity="0" transform="translate(313.5,65)" visibility="hidden"><g fill="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1" stroke="#000000" style="pointer-events: none;" transform="translate(-20.5,-34)"><path d="M0,0 L37,0 a0,0 0 0 1 0,0 L37,29 a0,0 0 0 1 -0,0 L37,29 L25.5,29 L20.5,34 L15.5,29 L0,29 a0,0 0 0 1 -0,-0 L0,0 a0,0 0 0 1 0,-0"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(-2,-34)"><g transform="translate(-8.5,5)" style="user-select: none;"><text x="0" y="19" dy="-3.8"><tspan>49</tspan></text></g></g></g></g><g role="tooltip" opacity="0" transform="translate(0,2.8)" visibility="hidden"><g fill="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1" stroke="#000000" style="pointer-events: none;" transform="translate(5,-2.8)"><path d="M0,0 L37,0 a0,0 0 0 1 0,0 L37,29 a0,0 0 0 1 -0,0 L0,29 a0,0 0 0 1 -0,-0 L0,29 L0,10 L-5,2.8 L0,0 L0,0 a0,0 0 0 1 0,-0"></path></g><g><g fill="#ffffff" style="pointer-events: none;" transform="translate(23.5,-2.8)"><g transform="translate(-8.5,5)" style="user-select: none;"><text x="0" y="19" dy="-3.8"><tspan>29</tspan></text></g></g></g></g></g></g></g></g></svg></div></div>
                                        </div>
                                        <!-- conversion1-section end -->
                                    </div>



<div class="col-lg-7" style="margin-top:1px;margin-bottom:0px;padding-right: 2px;">
								<div class="card" style="margin-top:3px;margin-bottom:0px">
									<div class="card-header">
										<h5>Assets Avilable</h5>
									</div>
        <div class="card-body" style="padding:0;width: 100%;">
            <div class="col-md-9 table-form" style="border:1px solid #e2e4e7;margin:0;max-width:99%;margin-left: 1px;margin-right: 1px;">
                <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 33vh; width: 100%;">
                    <table id="scr-vtr-dynamic" class="table table-striped table-bordered table-hover nowrap dataTable no-footer" role="grid" aria-describedby="scr-vtr-dynamic_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            
                                            <th data-breakpoints="xs">S. No</th>
                                            <th data-breakpoints="xs">Project Name</th>
                                            <th data-breakpoints="xs">Stores</th>
                                            <th data-breakpoints="xs">Assets</th>
                                            <th data-breakpoints="xs">Issued</th>
                                            <th data-breakpoints="xs">Requested</th>
                                            <th data-breakpoints="xs">Closed</th>
                                            <th data-breakpoints="xs" hidden="">Guid</th>
                                        </tr>
                                    </thead>
                                    <tbody id="edit">
                                        <tr role="row">                                            
                                                <td>1</td>
                                                <td>Project 1</td>
                                                <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                              
                                                <td>2</td>
                                                <td>Project 2</td>
                                                 <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                              
                                                <td>3</td>
                                            <td>Project 3</td>
                                            <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                             
                                                <td>4</td>
                                                 <td>Project 4</td>
                                                <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                            
                                                <td>5</td>
                                                  <td>Project 5</td>
                                             <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                                
                                                <td>6</td>
                                                  <td>Project 6</td>
                                               <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                               
                                                <td>7</td>
                                                  <td>Project 7</td>
                                               <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                             
                                                <td>8</td>
                                                  <td>Project 8</td>
                                             <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                              
                                                <td>9</td>
                                                  <td>Project 9</td>
                                                <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>
                                            <tr role="row">
                                         
                                                <td>10</td>
                                                  <td>Project 10</td>
                                                 <td>34</td>
                                                <td>56</td>
                                                <td>88</td>
                                                <td>6</td>
                                                <td>33</td>
                                            </tr>

                                    </tbody>
                                    <tbody style="display:none" id="list">
                                        <tr style="display:none">
                                    </tr></tbody>
                                    </table>
                                </div>
            </div>										
									</div>
								</div>
							</div>

<div class="col-lg-5" style="margin-top:1px;margin-bottom:0px;padding-left: 2px;">
								<div class="card" style="margin-top:3px;margin-bottom:0px">
                                    <div class="card-header">
                                        <h5>Project Locations</h5>                                        
                                    </div>
                                    <div class="card-body" style="height: 240px;">
                                        <!--<form method="post" id="geocoding_form4">
                                             <div id="mapTypes" class="set-map" style="height:250px;"></div> -->
												<div class="row" id="googleMap" style="width:108%;height:104%;"></div>
                                        <!-- </form> -->
                                    </div>
                                </div>
							</div>



@section Scripts
	{
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="@Url.Content("../CustomJs/Chart1.js")"></script>
	<script src="@Url.Content("../CustomJs/Chart2.js")"></script>
	<style>
		#chartdiv1 {
			width: 100%;
			height: 250px;
		}

		#chartdiv2 {
			width: 100%;
			height: 250px;
		}
	</style>
}
