@{

}
							<!-- page statustic card start -->
							<div class="col-lg-2 col-md-6">
								<div class="card">
									<div class="card-block">
										<div class="row align-items-center">
											<div class="col-8">
												<h4 class="text-c-blue">500</h4>
												<h6 class="text-muted m-b-0">Downloads</h6>
											</div>
											<div class="col-4 text-right">
												<i class="feather icon-thumbs-down f-28"></i>
											</div>
										</div>
									</div>
									<div class="card-footer bg-c-blue">
										<div class="row align-items-center">
											<div class="col-9">
												<p class="text-white m-b-0">% change</p>
											</div>
											<div class="col-3 text-right">
												<i class="feather icon-trending-down text-white f-16"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-6">
								<div class="card">
									<div class="card-block">
										<div class="row align-items-center">
											<div class="col-8">
												<h4 class="text-c-yellow">$30200</h4>
												<h6 class="text-muted m-b-0">Earnings</h6>
											</div>
											<div class="col-4 text-right">
												<i class="feather icon-bar-chart-2 f-28"></i>
											</div>
										</div>
									</div>
									<div class="card-footer bg-c-yellow">
										<div class="row align-items-center">
											<div class="col-9">
												<p class="text-white m-b-0">% change</p>
											</div>
											<div class="col-3 text-right">
												<i class="feather icon-trending-up text-white f-16"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-6">
								<div class="card">
									<div class="card-block">
										<div class="row align-items-center">
											<div class="col-8">
												<h4 class="text-c-green">290+</h4>
												<h6 class="text-muted m-b-0">Page Views</h6>
											</div>
											<div class="col-4 text-right">
												<i class="feather icon-file-text f-28"></i>
											</div>
										</div>
									</div>
									<div class="card-footer bg-c-green">
										<div class="row align-items-center">
											<div class="col-9">
												<p class="text-white m-b-0">% change</p>
											</div>
											<div class="col-3 text-right">
												<i class="feather icon-trending-up text-white f-16"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-6">
								<div class="card">
									<div class="card-block">
										<div class="row align-items-center">
											<div class="col-8">
												<h4 class="text-c-red">145</h4>
												<h6 class="text-muted m-b-0">Task</h6>
											</div>
											<div class="col-4 text-right">
												<i class="feather icon-calendar f-28"></i>
											</div>
										</div>
									</div>
									<div class="card-footer bg-c-red">
										<div class="row align-items-center">
											<div class="col-9">
												<p class="text-white m-b-0">% change</p>
											</div>
											<div class="col-3 text-right">
												<i class="feather icon-trending-down text-white f-16"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="card table-card">
                                    <div class="card-header borderless" style="padding: 1px 1px 1px 15px">
                                        <h5>Total Revenue</h5>
                                    </div>
                                    <div class="card-body px-0 py-0">
                                        <div class="table-responsive">
                                            <div class="revenue-scroll ps ps--active-y" style="height:110px;position:relative;">
                                                <table class="table table-hover mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 1px 1px 1px 24px"><i class="fas fa-caret-up text-c-green f-24"></i></td>
                                                            <td style="padding: 1px 1px 1px 1px">Bitcoin</td>
                                                            <td style="padding: 1px 1px 1px 1px">
                                                                <h6 class="text-c-green">+ $145.85</h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 1px 1px 1px 24px"><i class="fas fa-caret-down text-c-red f-24"></i></td>
                                                            <td style="padding: 1px 1px 1px 1px" >Ethereum</td>
                                                            <td style="padding: 1px 1px 1px 1px">
                                                                <h6 class="text-c-red">- $6.368</h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 1px 1px 1px 24px"><i class="fas fa-caret-up text-c-green f-24"></i></td>
                                                            <td style="padding: 1px 1px 1px 1px">Ripple</td>
                                                            <td style="padding: 1px 1px 1px 1px">
                                                                <h6 class="text-c-green">+ $458.63</h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 1px 1px 1px 24px"><i class="fas fa-caret-down text-c-red f-24"></i></td>
                                                            <td style="padding: 1px 1px 1px 1px">Neo</td>
                                                            <td style="padding: 1px 1px 1px 1px">
                                                                <h6 class="text-c-red">- $5.631</h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 1px 1px 1px 24px"><i class="fas fa-caret-down text-c-red f-24"></i></td>
                                                            <td style="padding: 1px 1px 1px 1px">Bitcoin</td>
                                                            <td style="padding: 1px 1px 1px 1px">
                                                                <h6 class="text-c-red">- $75.86</h6>
                                                            </td>
                                                        </tr>

                                                       
                                                    </tbody>
                                                </table>
                                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 415px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 206px;"></div></div></div>
                                        </div>
                                    </div>
                                </div>
							</div>

							<!-- page statustic card end -->
							<div class="col-lg-4">
								<div class="card">
									<div class="card-header">
										<h5>Sample Data 1</h5>
									</div>
									<div class="card-body">
										<div id="chartdiv1"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card">
									<div class="card-header">
										<h5>Sample Data 2</h5>
									</div>
									<div class="card-body">
										<div id="chartdiv2"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card">
                                    <div class="card-header">
                                        <h5>Map Types</h5>                                        
                                    </div>
                                    <div class="card-body" style="height: 294px;">
                                        <!--<form method="post" id="geocoding_form4">
                                             <div id="mapTypes" class="set-map" style="height:250px;"></div> -->
												<div class="row" id="googleMap" style="width:108%;height:104%;"></div>
                                        <!-- </form> -->
                                    </div>
                                </div>
							</div>
@section Scripts
	{
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="@Url.Content("../CustomJs/Chart1.js")"></script>
	<script src="@Url.Content("../CustomJs/Chart2.js")"></script>
	<style>
		#chartdiv1 {
			width: 100%;
			height: 250px;
		}

		#chartdiv2 {
			width: 100%;
			height: 250px;
		}
	</style>
}
